@using Health_Clinic_Appointment_System.ViewModels
@model IEnumerable<PaymentViewModel>

@{
    ViewData["Title"] = "Payments Management";
}

@section styles
{
    <link href="~/lib/dataTable/jquery.dataTables.css" rel="stylesheet" />
    <style>
        /* Modal Header */
        .modal-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }

        .modal-title {
            font-weight: 600;
            color: #495057;
        }

        /* Cards */
        .card {
            border: none;
            border-radius: 8px;
            background-color: #ffffff;
        }

        .card-body {
            padding: 1rem;
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .card-text {
            font-size: 0.9rem;
            color: #6c757d;
        }

        .badge {
            font-size: 0.85rem;
        }

        .pay-btn {
            font-size: 0.9rem;
            font-weight: 500;
        }
    </style>
}

<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-10">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Payments Management</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <a type="button" id="AddPaymentBtn" href="#" class="btn btn-primary btn-style-light d-flex align-items-center me-2" data-bs-placement="top" data-bs-toggle="modal" data-bs-target="#manageAppointmentsModal">
                        <i class="fa-solid fa-plus" style="margin-right:5px;"></i>
                        Add New
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <table id="PaymentsTable" class="display text-center" style="width:100%;">
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th style="text-align: center;">Patient Name</th>
                        <th style="text-align: center;">Patient Phone Number</th>
                        <th style="text-align: center;">Appointment Start DateTime</th>
                        <th style="text-align: center;">Appointment End DateTime</th>
                        <th style="text-align: center;">Fees Amount</th>
                        <th style="text-align: center;">Payment Date</th>
                        <th style="text-align: center;">PaymentMethod</th>
                        @* <th style="text-align: center;">Options</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.PaymentID</td>

                            <td>
                                @item.PatientName
                            </td>
                            <td>
                                @item.PatientPhoneNumber
                            </td>
                            <td>
                                @item.AppointmentStartDateTime
                            </td>
                            <td>
                                @item.AppointmentEndDateTime
                            </td>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                @item.PaymentDate
                            </td>
                            <td>
                                @item.PaymentMethod
                            </td>
                            @* <td>
                                <a type="button" class="btn btn-sm" asp-controller="PatientController" asp-action="ViewFullScreen" asp-route-Id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="perview">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a type="button" class="btn btn-sm" asp-controller="PatientController" asp-action="Edit" asp-route-Id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                    <i class="fa-solid fa-pen fa-red"></i>
                                </a>
                                <a class="btn btn-sm" onclick="deleteTemplate(@item.ID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash" style="color:red;"></i>
                                </a>
                            </td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Patient Appointment and Payment Modal -->
<div class="modal fade" id="manageAppointmentsModal" tabindex="-1" aria-labelledby="manageAppointmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageAppointmentsModalLabel">Manage Payments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Patient Selection -->
                <div class="mb-4">
                    <label for="patientSelect" class="form-label">Select Patient</label>
                    <select id="patientSelect" class="form-select" aria-label="Select Patient">
                        <option value="" disabled selected>Select a Patient..</option>
                       
                    </select>
                </div>

                <!-- Appointment & Payment Cards -->
                <div id="appointmentCardsContainer" class="row g-3">
                    <!-- Dynamically Generated Appointment Cards -->
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/lib/dataTable/jquery.dataTables.js"></script>
    <script src="~/js/Payment/Index.js"></script>

    <script>
        $(function () {
            let table = new DataTable('#PaymentsTable', {
                responsive: true
            });
        });

    </script>
}
