@using HCAS.DTO
@model IEnumerable<DoctorScheduleDto>

@{
    ViewData["Title"] = "Doctor Schedules Management";
}

@section styles
{
    <link href="~/lib/dataTable/jquery.dataTables.css" rel="stylesheet" />
    <style>

    </style>
}
@* 
<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-10">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Doctor Schedules Management</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <a type="button" class="btn btn-primary btn-style-light d-flex align-items-center me-2" asp-action="Create">
                        <i class="fa-solid fa-plus" style="margin-right:5px;"></i>
                        Add New
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <table id="SchedulesTable" class="display text-center" style="width:100%;">
                <thead>
                    <tr>
                        <th hidden>ID</th>

                        <th style="text-align: center;">Doctor Name</th>
                        <th style="text-align: center;">Avilable Day</th>
                        <th style="text-align: center;">Start Time</th>
                        <th style="text-align: center;">End Time</th>
                        @* <th style="text-align: center;">Options</th> *@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.ID</td>

                            <td>
                                @item.Doctor.FullName
                            </td>
                            <td>
                                @item.DayOfWeek
                            </td>
                            <td>
                                @item.StartTime
                            </td>
                            <td>
                                @item.EndTime
                            </td>
                            @* <td>
                                <a type="button" class="btn btn-sm" asp-controller="PatientController" asp-action="ViewFullScreen" asp-route-Id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="perview">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a type="button" class="btn btn-sm" asp-controller="PatientController" asp-action="Edit" asp-route-Id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                    <i class="fa-solid fa-pen fa-red"></i>
                                </a>
                                <a class="btn btn-sm" onclick="deleteTemplate(@item.ID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash" style="color:red;"></i>
                                </a>
                            </td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/dataTable/jquery.dataTables.js"></script>
    @* <script src="~/js/TemplateManagement/index.js"></script> *@
    <script>
        $(function () {
            let table = new DataTable('#SchedulesTable', {
                responsive: true
            });
        });
    </script>
}
