@using HCAS.DTO
@model IEnumerable<PatientDto>
@{
    ViewData["Title"] = "Patients Management";
}

@section styles
{
    <link href="~/lib/dataTable/jquery.dataTables.css" rel="stylesheet" />
    <style>

    </style>
}

<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-10">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Patients Management</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPatientModal">
                        <i class="fa-solid fa-plus"></i> Add New Patient
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <table id="PatientsTable" class="display text-center" style="width:100%;">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Email</th>
                        <th style="text-align: center;">Phone Number</th>
                        <th style="text-align: center;">Date Of Birth</th>
                        <th style="text-align: center;">Gender</th>
                        <th style="text-align: center;">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.ID</td>
                            <td>
                                @item.FullName
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.DateOfBirth
                            </td>
                            <td>
                                @item.Gender
                            </td>
                            <td>
                                <a type="button" class="btn btn-sm" asp-controller="PatientController" asp-action="Edit" asp-route-Id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                    <i class="fa-solid fa-pen fa-red"></i>
                                </a>
                                <a class="btn btn-sm" onclick="deleteTemplate(@item.ID)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash" style="color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@* add patient modal *@
<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPatientModalLabel">Add New Patient</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addPatientForm" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="FullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="FullName" name="FullName" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" name="Email" required />
                                <div class="invalid-feedback"></div>  <!-- Empty div for dynamic error message -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="+20 1061 1030 73" min="11" required />
                                <div class="invalid-feedback"></div>  <!-- Empty div for dynamic error message -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="DateOfBirth" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" required />
                               
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="Gender" class="form-label">Gender</label>
                                <select class="form-select" id="Gender" name="Gender" required>
                                    <option value="" selected disabled>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Patient</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/lib/dataTable/jquery.dataTables.js"></script>
    <script src="~/js/Patient/patient.js"></script>

    <script>
        $(function () {
            let table = new DataTable('#PatientsTable', {
                responsive: true
            });
        });

        // function toggleActiveStatus(templateId, isActive) {
        //     $.ajax({
        //         url: "/API/Templates/ChangeActiveStatus/" + templateId,
        //         method: 'POST',
        //         contentType: 'application/json',
        //         data: JSON.stringify(isActive),
        //         success: function (response) {
        //             console.log("hhhhhhhhhhhhhhhhh");
        //             window.location.reload();
        //         },
        //         error: function (xhr, status, error) {
        //             console.error(xhr.responseText);
        //         }
        //     });
        // }
        // function updateStatus(templateId, statusId) {
        //     $.ajax({
        //         url: "/api/Templates/ChangeStatus/" + templateId + "/" + statusId,
        //         method: 'PUT',
        //         contentType: 'application/json',
        //         success: function (response) {
        //             console.log(response);

        //         },
        //         error: function (xhr, status, error) {
        //             console.error(xhr.responseText);
        //         }
        //     });
        // }

        // function deleteTemplate(templateTitle, templateId) {
        //     var id = Number(templateId);

        //     swal.fire({
        //         title: 'Are you sure?',
        //         type: 'warning',
        //         text: "Are you sure you want to delete " + templateTitle + "?",
        //         showCancelButton: true,
        //         confirmButtonColor: 'red',
        //         confirmButtonText: 'Yes',
        //         cancelButtonText: 'cancel',
        //         reverseButtons: true
        //     }).then(function (result) {
        //         if (result.value) {
        //             $.ajax({
        //                 url: "/API/Templates/Delete/" + templateId,
        //                 method: "DELETE",
        //                 dataType: "JSON",
        //                 success: function (data) {
        //                     console.log(data);
        //                     window.location.reload();
        //                 },
        //                 error: function () {

        //                 }
        //             });
        //         }
        //     });
        // }


        // function toggleApprovedStatus(itemId)
        // {
        //     $.ajax({
        //         type: 'GET',
        //         url: `/API/Templates/ChangeApprovedStatus?id=${itemId}`,
        //         success: function (response)
        //         {
        //            console.log(response);

        //         },
        //         error: function () {
        //             console.error('Error checking MediaTag name.');
        //         }
        //     });
        // }

    </script>
}
