@using HCAS.DTO
@model IEnumerable<PatientDto>
@{
    ViewData["Title"] = "Patients Management";
}

@section styles
{
    <link href="~/lib/dataTable/jquery.dataTables.css" rel="stylesheet" />
    <style>
        .card {
            border-radius: 9px;
            transition: transform 0.2s ease-in-out;
            background-color: lightgrey;
        }

            .card:hover {
                transform: translateY(-5px);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            }

        #timeSlotsContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    </style>
}
@* 
<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-10">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Patients Management</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPatientModal">
                        <i class="fa-solid fa-plus"></i> Add New Patient
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="row mb-3">
    <div class="card">
        <div class="card-body">
            <table id="PatientsTable" class="display text-center" style="width:100%;">
                <thead>
                    <tr>
                        <th hidden>Id</th>
                        <th style="text-align: center;">Name</th>
                        <th style="text-align: center;">Email</th>
                        <th style="text-align: center;">Phone Number</th>
                        <th style="text-align: center;">Gender</th>
                        <th style="text-align: center;">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.ID</td>
                            <td>
                                @item.FullName
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.Gender
                            </td>
                            <td>
                                <a type="button" href="#" class="btn btn-sm edit-patient-btn" data-id="@item.ID" data-bs-placement="top" data-bs-toggle="modal" data-bs-target="#addPatientModal" title="Edit">
                                    <i class="fa-solid fa-pen fa-red"></i>
                                </a>
                                <a class="btn btn-sm delete-patient-btn" data-id="@item.ID" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash" style="color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@* add patient modal *@
<div class="modal fade" id="addPatientModal" tabindex="-1" aria-labelledby="addPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPatientModalLabel">Add New Patient</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addPatientForm" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="FullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="FullName" name="FullName" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="Email" name="Email" required />
                                <div class="invalid-feedback"></div>  <!-- Empty div for dynamic error message -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="+20 1061 1030 73" min="11" required />
                                <div class="invalid-feedback"></div>  <!-- Empty div for dynamic error message -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 position-relative">
                                <label for="Gender" class="form-label">Gender</label>
                                <select class="form-select" id="Gender" name="Gender" required>
                                    <option value="" selected disabled>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add Patient</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/lib/dataTable/jquery.dataTables.js"></script>
    <script src="~/js/Patient/Index.js"></script>

    <script>
        $(function () {
            let table = new DataTable('#PatientsTable', {
                responsive: true
            });
        });
    </script>
}
